/* TOPBAR */
.preset-select {
    position: relative;
    width: 380px;          
}
.preset-select .selected {
    height: 60px;
    line-height: 60px;
    padding: 0 16px;
    cursor: pointer;
    user-select: none;
}
.preset-select .selected:hover {
    background-color: #ffffff06;
}
.preset-select .preset-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 0;
    overflow: hidden;
    background: #2a2a2a;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: max-height 0.3s ease;
    z-index: 10;
}
.preset-select .option {
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    font-size: 14px;
    cursor: pointer;
}
  
.preset-select .option:hover {
    background-color: #3a3a3a;
}
  
/* Main Chat*/
.main-chat {
    background-color: none;
    width: 100%;
    max-width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.messages-container {
    width: 100%;
    height: 70%;
    box-sizing: border-box;
}
.chat-bar-container {
    width: 100%;
    height: 25%;
    box-sizing: border-box;
    padding: 5px;
    padding-bottom: 15px;
}
.chat-bar-wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.chat-bar-wrapper textarea {
    resize: none;
    border: none;
    outline: none;
    color: white;
    background-color: #303030;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    flex: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.chat-toolbar {
    height: 65x;
    border-top: 1px grey solid;
    background-color: #303030;
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.chat-toolbar .send {
    background-color: white;
    color: black;
    overflow: visible;
    margin-right: 10px;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-toolbar .send:hover {
    background-color: rgb(218, 218, 218);
}
.chat-toolbar img {
    height: 90%;
}

/* MESSAGES SECTION */
.messages-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 10px;
    overflow-y: auto;
}
.user-message {
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 12px 0 20px 0;
    box-sizing: border-box;

}
.user-message .message {
    padding: 15px;
    background-color: #303030;
    box-sizing: border-box;
    border-radius: 10px;
}