{% extends "base.html" %}

{% block title %}Settings{% endblock %}
{% block css %}
<link rel="stylesheet" href="static/css/settings.css">
{% endblock %}

{% block content %}
<!-- Settings Panel -->
<div class="main-settings">
    <div class="settings-list" id="settingsList">

    </div>

    <!-- PRESETS -->
    <div class="settings-presets">
        <h1>Presets</h1>

        <div class="preset-list" id="presetList">
            {% for preset in presets %}
            <div class="preset">
                <p>{{ preset.label }}</p>
                <p class="model" >{{ preset.model }}</p>
            </div>
            {% endfor %}
        </div>

    </div>   
</div>


{% endblock %}

{% block scripts %}
    <!-- Bootstrap the data into a global JS variable -->
    <script>
        window.APP_DATA = {
            settings: {{ settings | tojson }},
            presets:  {{ presets  | tojson }}
        };
    </script>
    <script src="/static/js/settings.js"></script>
{% endblock %}
